.main {
  width: 616px;
  margin: auto;
}
p {
  font-size: 17px;
  font-weight: bold;
}

.add {
  display: flex;
  justify-content: space-between;
  margin: 40px 0 15px;
}

.childInfo {
  display: flex;
  justify-content: space-between;
}
