.preview {
  width: 616px;
  margin: auto;
}
.child-data {
  margin-top: 80px;
}
.child {
  background: #ececec;
  border-radius: 5px;
  box-sizing: border-box;
  width: fit-content;
  padding: 15px;
  margin-top: 20px;
}
.desc {
  margin-bottom: 10px;
}
.info {
  text-align: center;
  margin-top: 100px;
}