.header {
    width: 1136px;
    margin: auto;
    display: flex;
    padding:10px;
    border-bottom: 1px solid rgba(17, 17, 17, 0.1);
}
.text {
    margin: auto;
}
a {
    margin-right: 24px;
    font-size: 14px;
    color: gray;
    text-decoration: none;
}