.input {
  width: 100%;
  height: 40px;
  margin-bottom: 10px;
  border: 1px solid #ececec;
  border-radius: 5px;
  margin-right: 18px;
  padding: 10px 15px 5px;
}
.btn {
  line-height: 30px;
  font-size: 16px;
  cursor: pointer;
}
.btn-add {
  background-color: white;
  color: #01a7fd;
  border-radius: 40px;
  border: 2px solid #01a7fd;
  width: 205px;
  height: 45px;
  position: relative;
  padding-left: 30px;
}
.btn-add:before {
  content: "";
  display: block;
  width: 16px;
  height: 2px;
  position: absolute;
  left: 20px;
  top: 50%;
  background-color: #01a7fd;
  border-radius: 2px;
  transform: translateY(-50%);
}
.btn-add:after {
  content: "";
  display: block;
  width: 2px;
  height: 16px;
  position: absolute;
  left: 27px;
  top: 50%;
  background-color: #01a7fd;
  border-radius: 2px;
  transform: translateY(-50%);
}
.btn-save {
  background-color: #01a7fd;
  border-radius: 50px;
  border: solid #01a7fd;
  color: white;
  width: 120px;
  height: 40px;
}
.btn-delete {
  background-color: white;
  color: #01a7fd;
  border: none;
}
