.input {
  width: 100%;
  height: 54px;
  margin-bottom: 10px;
  border: 1px solid #ececec;
  border-radius: 5px;
  margin-right: 10px;
}
.btn {
  padding: 15px;
  font-size: 16px;
  cursor: pointer;
}
.btn-add {
  background-color: white;
  color: #01a7fd;
  border-radius: 40px;
  border: solid #01a7fd;
}
.btn-save {
  background-color: #01a7fd;
  border-radius: 50px;
  border: solid #01a7fd;
  color: white;
}
.btn-delete {
  background-color: white;
  color: #01a7fd;
  border: none;
}
